*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    display: grid;
    place-items: center;
    font-size: x-large;
}
#container{
    display: grid;
    place-items: center;
    font-size: larger;
    font-weight:600
}
